@media (max-width: 2560px) and (max-height: 1600px){

    #home-img1{
    font-size: 6em;
    width: 70vw;
    height: 51vh;
}

  #home-img2{
    font-size: 6em;
    width: 70vw;
    height: 51vh;
  }
  
}