@media (min-width: 2450px) and (min-height: 1599px){

    #home-img1{
    font-size: 6em;
    width: 70vw;
    height: 51vh;
    color: blue;
}

  #home-img2{
    font-size: 6em;
    width: 70vw;
    height: 51vh;
  }

}